a{
    text-decoration:none;
  }

a:hover{
    color: white
}
  
ul{
    padding: 0px;
    margin: 0px;
}
  .navbar-brand{
    margin-left: 40px;
  }
  
  #navbarNav{
    margin-right: 40px;
  }
  
  .nav-link{
    font-weight: bold;
    color: #ffffff;
  }

#cerrar-sesion {
    margin-left: 20px;
    background-color: #000000;
    color: #ffffff;
    border-block-width: 1px;
    border-color: #000000;
    border-style: solid;
    border-radius: 5px;
    width: auto;
    height: auto;
    cursor: pointer;
  }
  
  #cerrar-sesion:hover{
    background-color: #ffffff; 
    color: #000000;
  }
  
  #copyright{
    background-color: #dee2e6;
    border-top: 1px;
    border-color: black;
  }
  
  /* Estilos Contactanos */
  
  .module {
      height: auto;
      display: grid;
      place-items: center;
      position: relative;
    }
    .module::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background-color: #000000;
    }

    .module-inside {
      position: relative;
    }
  
  #menu-titulo{
      padding: 30px 50px 0px 30px;
      color: rgb(255, 255, 255);
      font-size: 70px;
      align-items: baseline;
  }
  
  .consulta{  
    display: flex;
    justify-content: space-evenly;
    width: auto; 
    height: auto;
    margin: 15px 30px 15px 30px;
    border-radius: 10px;  
    padding-top: 30px;
    padding-bottom: 20px;  
    background-color: #d7d6d6e6; 
    border: 1px solid #00000047;
  }  
  
  textarea{
    background-color: #fbfbfb; 
    width: 425px; 
    height: 150px; 
    border-radius: 5px;  
    border-style: solid; 
    border-width: 1px; 
    border-color: #9f8e1c;
    margin-top: 10px;  
    padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
  }
  
  
  label{
    display: block; 
    float: center;  
  }
  
  
  button{
    /* color: #000000;
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-top: 5px;
    background-color: #63a2de;
    border-color: #000000;
    border-style: solid;
    border-radius: 20px;
    width: 180px;
    height: 30px;
    cursor: pointer; */

    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    margin-top: 5px;
    background-color: #63a2de;
    border-color: #000000;
    border-style: solid;
    border-radius: 20px;
    width: 180px;
    height: 55px;
    cursor: pointer;
  }

  
  button:hover{
    background-color: #52b627;; 
  }
  
  
  button p{
    color: #fff; 
  }
  
  
  span{
    color: #b61919; 
  }
  
  
  .aviso{
    font-size: 13px;  
    color: #0e0e0e;  
  }
  
  
  h1{
    text-align: letf; 
    color: #ffffff;
  }
  
  
  h3{
    margin-left: 30px;
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #064ca5;
  }
  
  
  p{
    color: #0e0e0e;     
    margin: 0px;
  }
  
  
  ::-webkit-input-placeholder {
   color: #000000;
  }
  
  
  ::-webkit-textarea-placeholder {
   color: #000000;
  }
  
  .formulario{
    display: flex;
    justify-content: center;
  }
  
  .formulario input:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  
  .formulario textarea:focus{
    outline:0;
    border: 1px solid #97d848;
  }
  
  #enviar{
    font-weight: bold;
  }
  
  #pie-de-pagina{
      color: #ffffff;
  }
  

.links {
    margin-top: 5px;
    color: #000000;
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: #ffffff;
    border-color: #000000;
    border-style: solid;
    border-radius: 20px;
    width: 180px;
    height: auto;
    cursor: pointer;
  }

  .links:hover {
    background-color: #0d6efd;
    border-color: #ffffff;
    color: white
  }



.fila{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.gestion-pacientes{
    padding: 10px;
    margin: 15px;
    background-color: #ffffff82; 
    border-radius: 10px;  
    margin-left: 30px;
}

#cedula{  
    margin-left: 25px;
    margin-bottom: -15px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.77);
}

#id-usuario{
    margin-left: 20px;
}

input{
    background-color: #fbfbfb;
    width: 350px;
    height: 30px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #0d6efd;
    margin-top: 15px;
    padding-left: 10px;
}

#regreso-menu{
    background-color: #f0d01c;
}


#regreso-menu:hover{
    background-color: #f70404;
}

::placeholder{
    color: gray;
}

#consultas{
    width: 1000px;
    padding: 10px;
    margin: 15px 15px 15px 15px;
    background-color: #ffffff82;
    border-radius: 10px;
}